.box {
    width: 40%;
    margin: 0 auto;
    background: transparent;
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

body.dark-mode .overlay{

    background: rgba(0, 0, 0, 0.7);

}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 270px auto;
    padding: 20px;
    background: transparent;
    border: 1px gray;
    box-shadow: 0px 0px 5px black;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    width: 30%;
    position: relative;
}

.popup h2 {
    margin-top: 0;
    color: #ffffff;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #fff;
}

.popup .content {
    max-height: 30%;
    margin-top: 20px;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}